body {
    background: #181818;
}

p {
    color: #d8d8d8;
    font-family: monospace;
    font-size: 12px;
    text-align: left;
}

#logo {
    width: 50%;

    text-align: center;
    color: #d8d8d8;

    position: absolute;

/*  border: 3px green solid; */

    margin-left: -25%;
    top: 40%;
    left: 50%;
}

#logo pre {
    font-size: 12px;
    font-family: monospace;
}

#bottom {
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #181818;
/*  border: 3px green solid; */
    text-align: center;
}
a {
    font-size: 12px;
    font-family: monospace;
}
a:link {
    color: #d8d8d8;
}
a:visited {
    color: #585858;
}
a:hover {
    color: #f8f8f8;
}
a:active {
    color: #e8e8e8;
}

#top a {
    color: #a1b65c;
}

#bottom a {
    color: #7cafc2;
}

#top {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    background: #181818;
}

